@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
footer {
  background-color: #fafafa;
  padding: 3rem 1rem 0 1rem;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.3px solid #bebdbd;
}

footer .footer .kurumsal {
  margin-bottom: 3rem;
  margin-right: 1rem;
}

footer .footer .kurumsal h3 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer .kurumsal ul {
  padding: 0;
  color: #61656e;
}

footer .footer .kurumsal ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  footer .footer .kurumsal {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    border-bottom: 0.3px solid #dbd9d9;
  }
  footer .footer .kurumsal h3 {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  footer .footer .kurumsal ul {
    display: none;
  }
}

footer .footer .Kampanyalar {
  margin-bottom: 3rem;
  margin-right: 1rem;
}

footer .footer .Kampanyalar h3 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer .Kampanyalar ul {
  padding: 0;
  color: #61656e;
}

footer .footer .Kampanyalar ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  footer .footer .Kampanyalar {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    border-bottom: 0.3px solid #dbd9d9;
  }
  footer .footer .Kampanyalar h3 {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  footer .footer .Kampanyalar ul {
    display: none;
  }
}

footer .footer .yardım {
  margin-bottom: 3rem;
  margin-right: 1rem;
}

footer .footer .yardım h3 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer .yardım ul {
  padding: 0;
  color: #61656e;
}

footer .footer .yardım ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  footer .footer .yardım {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    border-bottom: 0.3px solid #dbd9d9;
  }
  footer .footer .yardım h3 {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  footer .footer .yardım ul {
    display: none;
  }
}

footer .footer .iletişim {
  margin-bottom: 3rem;
  margin-right: 1rem;
}

footer .footer .iletişim h3 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer .iletişim ul {
  padding: 0;
  color: #61656e;
}

footer .footer .iletişim ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  footer .footer .iletişim {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    border-bottom: 0.3px solid #dbd9d9;
  }
  footer .footer .iletişim h3 {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  footer .footer .iletişim ul {
    display: none;
  }
}

footer .footer .iletişim address {
  margin-bottom: 1rem;
  color: #61656e;
}

footer .footer .iletişim p {
  color: #61656e;
}

@media (max-width: 900px) {
  footer .footer .iletişim address {
    display: none;
    margin-bottom: 0.2rem;
  }
  footer .footer .iletişim p {
    display: none;
  }
}

footer .footer .takip {
  margin-bottom: 3rem;
  margin-right: 1rem;
}

footer .footer .takip h3 {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer .takip ul {
  padding: 0;
  color: #61656e;
}

footer .footer .takip ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  footer .footer .takip {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    border-bottom: 0.3px solid #dbd9d9;
  }
  footer .footer .takip h3 {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    cursor: pointer;
  }
  footer .footer .takip ul {
    display: none;
  }
}

footer .footer .takip .social-medias-top {
  margin-bottom: 3rem;
}

footer .footer .takip .social-medias-top a {
  color: #141414;
  margin-right: 1.5rem;
  font-size: 2.3rem;
}

footer .footer .takip .social-medias-top a:hover {
  color: #056be0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .footer .takip p {
  margin-bottom: 0.5rem;
  color: #61656e;
}

footer .footer .takip .input {
  border: 0.5px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

footer .footer .takip .input input {
  padding: 0.4rem 0.2rem;
  border: none;
  outline: none;
}

footer .footer .takip .input div {
  padding: 0.4rem 0.2rem;
  background-color: #056be0;
  color: white;
}

@media (max-width: 800px) {
  footer .footer .takip .social-medias-top {
    margin-bottom: 0;
    font-size: 10px;
  }
  footer .footer .takip .takip-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 900px) {
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 1rem 0.3rem 0 0.3rem;
  }
}

.copyRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2rem 1rem;
  background-color: #056be0;
  color: white;
}

.copyRight img {
  width: 2rem;
}

.survey-container {
  width: 80%;
  height: 20%;
  border: 2px solid black;
  margin: auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 3px 10px #111111;
          box-shadow: 3px 3px 10px #111111;
}

.survey-container p {
  margin-bottom: 1rem;
}

.survey-container .smile {
  background-color: white;
  margin-right: 3rem;
  border: none;
  padding: 0.4rem;
  border-radius: 50%;
}

.survey-container .smile .smile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.2rem;
}

.survey-container .nps {
  background-color: white;
  color: #141414;
  outline: 1px solid #0bc0ee;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
          box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: none;
  font-size: 16px;
  margin-right: 0.3rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.survey-container .nps:hover {
  -webkit-box-shadow: 3px 3px 10px #0bc0ee;
          box-shadow: 3px 3px 10px #0bc0ee;
}

.survey-container .nps:active {
  -webkit-box-shadow: 5px 5px 15px #0bc0ee;
          box-shadow: 5px 5px 15px #0bc0ee;
  background-color: #0bc0ee;
}

@media (max-width: 800px) {
  .survey-container .nps {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
}

.survey-container .nps-danger {
  background-color: white;
  color: #141414;
  outline: 1px solid #e1f103;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
          box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: none;
  font-size: 16px;
  margin-right: 0.3rem;
  margin-right: 1rem;
}

.survey-container .nps-danger:hover {
  -webkit-box-shadow: 3px 3px 10px #e1f103;
          box-shadow: 3px 3px 10px #e1f103;
}

.survey-container .nps-danger:active {
  -webkit-box-shadow: 5px 5px 15px #e1f103;
          box-shadow: 5px 5px 15px #e1f103;
  background-color: #e1f103;
}

.survey-container .success {
  background-color: white;
  color: #141414;
  outline: 1px solid #0bc0ee;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
          box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: none;
  font-size: 16px;
  margin-right: 0.3rem;
  margin-right: 1rem;
}

.survey-container .success:hover {
  -webkit-box-shadow: 3px 3px 10px #0bc0ee;
          box-shadow: 3px 3px 10px #0bc0ee;
}

.survey-container .success:active {
  -webkit-box-shadow: 5px 5px 15px #0bc0ee;
          box-shadow: 5px 5px 15px #0bc0ee;
  background-color: #0bc0ee;
}

.survey-container .danger {
  background-color: white;
  color: #141414;
  outline: 1px solid #e1f103;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
          box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: none;
  font-size: 16px;
  margin-right: 0.3rem;
}

.survey-container .danger:hover {
  -webkit-box-shadow: 3px 3px 10px #e1f103;
          box-shadow: 3px 3px 10px #e1f103;
}

.survey-container .danger:active {
  -webkit-box-shadow: 5px 5px 15px #e1f103;
          box-shadow: 5px 5px 15px #e1f103;
  background-color: #e1f103;
}

@media (max-width: 800px) {
  .survey-container {
    width: 100%;
  }
}

.clicked {
  -webkit-box-shadow: 5px 5px 15px #0bc0ee;
          box-shadow: 5px 5px 15px #0bc0ee;
  border: none;
}

.post-button {
  background-color: white;
  color: #141414;
  outline: 1px solid #0bc0ee;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
          box-shadow: 5px 5px 15px rgba(44, 187, 99, 0.2);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: none;
  font-size: 16px;
  margin-right: 0.3rem;
  margin: 1rem;
}

.post-button:hover {
  -webkit-box-shadow: 3px 3px 10px #0bc0ee;
          box-shadow: 3px 3px 10px #0bc0ee;
}

.post-button:active {
  -webkit-box-shadow: 5px 5px 15px #0bc0ee;
          box-shadow: 5px 5px 15px #0bc0ee;
  background-color: #0bc0ee;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: #0bc0ee;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-bg .modal-container {
  width: 70vw;
  height: 40vh;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
}

.modal-bg .modal-container .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-bg .modal-container .close-button button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modal-bg .modal-container .title {
  display: inline-block;
  text-align: center;
}

.modal-bg .modal-container .body {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

.modal-bg .modal-container .link a {
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 2rem;
}

.modal-bg .modal-container .footer {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-bg .modal-container .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #c50606;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.modal-bg .modal-container .footer button:hover {
  outline: 3px solid #c50606;
  outline-offset: 2px;
  border: 1px solid white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-bg .modal-container .footer .urlButton:hover {
  outline: 3px solid #0bc0ee;
  outline-offset: 2px;
  border: 1px solid white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.holiday__items {
  width: 90vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

@media (max-width: 800px) {
  .holiday__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .holiday__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 80vw;
  }
}

.holiday__item {
  position: relative;
  border-bottom: 5px solid #0bc0ee;
  overflow: hidden;
  cursor: pointer;
}

.holiday__item img {
  width: 100%;
}

.holiday__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0bc0ee;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.holiday__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.holiday__item:hover .holiday__btn {
  opacity: 1;
}

.holiday__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.holiday__btn {
  opacity: 0;
  font-size: 1.2rem;
  color: #141414;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.holiday__btn:hover {
  color: white;
}

.discount {
  position: relative;
  width: 100%;
  color: white;
  background: linear-gradient(45deg, red, blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  justify-content: center;
  padding: 1.2rem 0;
  font-size: 1.3rem;
  z-index: 1000;
}

.discount button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  padding: 0 0.5rem;
  color: white;
  background-color: #056be0;
  border-radius: 50%;
  border: none;
  outline: 1px solid white;
}

@media (max-width: 800px) {
  .discount {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  max-height: 100vh;
}

.surveyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.surveyContainer form {
  width: 95vw;
}

.iconPersonal {
  margin-right: 1rem;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  background-color: rgba(117, 119, 124, 0.1);
  padding: 0.2rem 0.3rem;
  margin-right: 0.7rem;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */