.survey-container {
    width: 80%;
    height: 20%;
    border: 2px solid black;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgb(17, 17, 17);


    p {
        margin-bottom: 1rem;
    }

    .smile {
        background-color: white;
        margin-right: 3rem;
        border: none;
        padding: 0.4rem;
        border-radius: 50%;

        .smile-img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin: 0.2rem
        }
    }

    .nps {
        @include button($success);
        margin-right: 1rem;
        margin-top: 1rem;

        @include respond(medium) {
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }
    }

    .nps-danger {
        @include button($danger);
        margin-right: 1rem
    }


    .success {
        @include button($success);
        margin-right: 1rem
    }

    .danger {
        @include button($danger)
    }

    @include respond(medium) {
        width: 100%;

    }

}

.clicked {
    box-shadow: 5px 5px 15px $success;
    border: none;
}


.post-button {
    @include button($success);
    margin: 1rem;
}